<h3>Main publication:</h3>
{% assign others = false %}
{% for post in site.publications %}
  {% if post.doi == page.doi %}
    {% include archive-single-pub.html %}
  {% endif %}
  {% if post.resources contains page.tag and post.doi != page.doi %}
    {% assign others = true %}
  {% endif %}
{% endfor %}
{% if others %}
  <h3>Other publications using resource:</h3>
  {% for post in site.publications reversed %}
    {% if post.resources contains page.tag and post.doi != page.doi %}
      {% include archive-single-pub.html %}
    {% endif %}
  {% endfor %}
{% endif %}
