{% if page.contributors %}
<h2> Contributors: </h2>
<div class="grid">
  <div class="wrapper">
    {% for member in site.team %}
      {% assign post = member %}
      {% if page.contributors contains member.authorname %}
        {% include archive-single-proj.html type="grid" %}
      {% endif %}
    {% endfor %}
    {% for member in site.collaborations %}
      {% assign post = member %}
      {% if page.contributors contains member.authorname %}
        {% include archive-single-proj.html type="grid" %}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
